
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}


content {
    display: flex;
    flex-wrap: wrap;     
    width:100%;
}

nav, header, main, aside, article, section,  {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: table-cell; 
    vertical-align: middle;
    padding: 20px;
}

nav {
    background-color: burlywood;
    height: 70px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    
}

container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: table-cell; 
    vertical-align: middle;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
}


li a {
    display: block;
    color: darkorchid;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
      body {
    background-color: palevioletred; 
          
  }


}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: lawngreen; 
  }
    .aside { flex: 1 auto; }
  }
  h1,h2,h3 {
        color: blue;
    }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
      body {
    background-color: skyblue; 
           
  }
    
 .main { flex: 2 0px; }
  
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
      h1,h2,h3 {
        color: ghostwhite;
    }
}

