$elements: 5;
$duration: 3s;

.flip {
      text-align: center;
      margin: 4%;
}

.lead {
    font-size: 2em;
}

.lead, .tail {
    display: inline-block;
    padding-left: 1%;
    vertical-align: top;
    font-size: 1.8em;
}

.tail p {
    position: absolute;
    animation: flip $elements*$duration infinite ease;
}

@for $index from 1 through $elements {
    .tail p:nth-child(#{$index}) {
        animation-delay: #{(0 - ($index - 1)) * $duration};
    }
}

@keyframes flip {
    0% { opacity: 0; transform: translateY(100%); }
    #{100% / $elements / 2} { opacity: 1;  transform: translateY(0%); }
    #{100% / $elements} { opacity: 0;  transform: translateY(-100%); }
    100% { opacity: 0; transform: translateY(-100%); }
}


.footer {
    text-align: center;
}

  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

.skills {
    text-align: center;
    padding: 1%;
    margin: 1%;
    font-size: 4em;
}

.skill-header {
    padding: 4%;
    text-align: center;
}

.skill-par {
    padding: 4%;
    text-align: center;
}


.card-heading {
  font-size: 5.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.card-par {
  font-size: 1.7em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.back-back {
  padding-top: 25px;
  background-color: #e9e9e9; }


@media only screen and (max-width: 640px) {

    .lead, .tail {
    display: none;
}

}
